.highlight{
    color: brown;
    font-size: 30px;
}
.Details
{
    color: rgb(73, 155, 206);
    font-size: 30px;
}
.Complete{
    color: rgb(32, 150, 32);
    font-size: 30px;
}
.RemoveWorker{
    color: rgb(207, 18, 18);
    font-size: 30px;
}
.Cancel{
    color: rgb(235, 116, 13);
    font-size: 30px;
}
.AddToBucket{
    color: rgb(32, 150, 32);
    font-size: 30px;
}
